@import '~bootstrap/scss/bootstrap';

header{
    height: 60px;
}

main{
    display: flex;
    justify-content: center;
    width: 100% ;
}


.main-wrapper{
    height: calc(100vh - 60px);
}
aside{

    width:250px;
    height:100%;
    padding-top: 30px;

    ul{
        padding: 0;
        list-style: none;
        li{
            width: 100%;
            height: 40px;

            a{
                color: white;
                text-decoration: none;
                font-weight: bold;
                padding-left: 20px;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                &.active{
                    background-color: darkgrey;
                    color: black;
                }
            }
        }
    }

}

.technologies.container,
.types.container{
    .table{
        max-width: 860px;
        border-radius: 40;

        .hidden-form{
            width: 100%;
            border: none;
            &:focus{
                border: none;
                outline: none;
            }
        }
    }
}

#thumb{
    width: 50px;
}


/* EDITOR */

.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 300px;
}
